data
tr_features.npy
tr_labels.npy

tv_features.npy
tv_labels.npy

tt_features.npy
tt_labels.npy

model.weights.best_cnn.hdf5
model.weights.best_nn.hdf5

tr_features.npy
tr_labels.npy

cnn_tr_features.npy 
cnn_tr_labels.npy 